<!DOCTYPE html>
<html ng-app="InspectionView">
<head>
  <title>Inspection View</title>
	<meta charset="utf-8" />  
  <link rel="icon" type="image/png" href="Content/favico-iv.png" />
  <link rel="stylesheet" href="https://js.arcgis.com/3.20/esri/css/esri.css">
  <script defer src="https://js.arcgis.com/3.20/"></script>
  <link href="Content/bootstrap.min.css" rel="stylesheet" />
  <link href="Content/bootstrap-theme.min.css" rel="stylesheet" />
  <link href="Content/main.css" rel="stylesheet" />
</head>
<body>
  <nav style="z-index:1; margin: 0;"
       id="navTopMenu"
       class="navbar navbar-default container-fluid">
    <div class="navbar-header">
      <span class="hidden-sm hidden-xs hidden-md navbar-brand">
        Inspection View
      </span>
      <span class="hidden-lg navbar-brand">
        Inspections
      </span>
    </div>
    <ul class="nav nav-tabs navbar-nav">
      <li id="nav-home"
          class="active">
        <a onclick="IView.toggleNavDisplay('today')"
           aria-controls="today"
           role="tab">
          Today
        </a>
      </li>
      <li id="nav-permit">
        <a onclick="IView.toggleNavDisplay('Tomorrow')"
           aria-controls="tomorrow"
           role="tab">
          Tomorrow
        </a>
      </li>
    </ul>
    <ul style="margin-right: 2em;"
        class="nav navbar-nav nav-tabs navbar-right">
      <li id="nav-cart">
        <a id="OpenInspectionsNav"
           role="tab">
          Open Inspections: X of Y
        </a>
      </li>
    </ul>
  </nav>
  <div id="map">

  </div>
  <div id="legend"></div>
  <!--<div id="mapContainer">
    <esri-map id="map"
              center="main.map.center"
              basemap="streets"              
              zoom="main.map.zoom"
              map-options="main.map.mapOptions"
              load="main.mapLoaded"
              register-as="myMap">


    </esri-map>
  </div>
  <div id="legend">
    <ol layout="column">
      <li layout="row"
          layout-align="start center"
          ng-repeat="inspector in main.inspectionGroupLayers track by $index"
          style="background-color: {{ inspector.color }};"
          ng-click="main.toggleVisibility(inspector)">
        <md-checkbox ng-click="main.toggleVisibility(inspector)"
                     aria-label="visibility"
                     ng-model="inspector.visible">
        </md-checkbox>
        <span>
          {{ inspector.id }}
        </span>
        <span flex></span>
        <span>
          {{ inspector.numberInspections }}
        </span>
        
      </li>
    </ol>
  </div>-->
  <script>

    document.addEventListener("DOMContentLoaded", function (event)
    {
      IView.Start();
    });

  </script>
  
  <script src="Scripts/map.js"></script>
  <script src="Scripts/UI.js"></script>
  <script src="Scripts/XHR.js"></script>
  <script src="Scripts/Inspection.js"></script>
  <script src="Scripts/Point.js"></script>
  <script src="Scripts/app.js"></script>
  <script src="Scripts/es6-promise.min.js"></script>
</body>

</html>
